.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
}


.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 11px;
  content: ' ';
  height: 33px;
  width: 10px;
  background-color: rgb(255, 255, 255);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}